ul {
  display: flex;
  flex-wrap: wrap;

  li {    
    box-sizing: border-box;    
    width: 100%;
    padding: 11px;
    border: 1px solid rgba(0,0,0,0.2);
    border-left: 3px solid #2ecc71;
    list-style: none;
    background: #fff;

    .thum {
      width: 100px;
      margin-right: 10px;
      vertical-align: top;      
    }    
  }

  li ~ li {
    margin-top: 7px;
  }
}
